* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #f76c5e;
  margin-top: 15px;
  margin-bottom: 15px;
  text-shadow: 0 1px 3px black;
  cursor: default;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}
.check-out {
  text-decoration: none;
  color: #0040d5;
  font-weight: bold;
    margin-top: 2rem;
}

.check-out:hover {
  text-decoration: underline;
}

.action-link {
  display: flex;
  justify-content: center;
}

.fa-trash {
  color: #ff7272;
  cursor: pointer;
  font-size: 1.2rem;
}

.fa-trash:hover {
  color: #d00000;
}

.empty-msg {
  text-align: center;
  font-size: 1.3em;
  color: #ff72d7;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
