/* Footer Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  margin-top: 50px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

/* Navigation Section */

nav {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
nav h2 {
  text-decoration: underline;
  text-transform: uppercase;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  color: #ccc;
}

/* Social Media Section */

.social {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.social a {
  color: #fff;
  text-decoration: none;
}

.social a:hover {
  color: #ccc;
}

.social i {
  font-size: 24px;
}

/* Address Section */
address {
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
address h2 {
  text-decoration: underline;
  text-transform: uppercase;
}
.address {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Copyright Section */

.copyright {
  display: block;
  width: 100%;
  cursor: default;
}
.copyright p {
  font-size: 18px;
  color: #b3b3b3;
  text-align: center;
}

/* Responsive Design */

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }
  nav {
    flex-direction: column;
  }
  nav a {
    margin-bottom: 10px;
  }
  .social {
    flex-direction: column;
  }
  .social a {
    margin-bottom: 10px;
  }
}
