* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  
}

.form-container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  width: 500px;
  margin: 10vh auto;

}
.form-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: linear-gradient(to right, #182848, #4b6cb7);
}

.form-container input,
.form-container textarea,
.form-container button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container textarea {
  resize: vertical;
  min-height: 150px;
}

.form-container button {
  background: linear-gradient(to right, #182848, #4b6cb7);
  color: white;
  border: none;
  cursor: pointer;
  transition:  0.2s ease-in-out;
}

.form-container button:hover {
  background: linear-gradient(to right, #4b6cb7, #182848);
}
.form-container button:active {
  letter-spacing: .1em;
  color: aqua;
}

.form-container input[type="file"] {
  padding: 5px;
}

.form-container input:focus,
.form-container textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (max-width: 480px) {
  .form-container {
    padding: 15px;
  }

  .form-container h2 {
    font-size: 1.5rem;
  }

  .form-container input,
  .form-container textarea,
  .form-container button {
    font-size: 14px;
  }
}
